<%# @subject = Subject.find(params[:id]) %>
<h1><%= @subject.subject %></h1>



<%= form_for([@subject, @quiz]) do |f| %>
<!-- /subjects/:subject_id/quizzes POST -->
  <%= label_tag(:quiz_question, "Question") %>
  <%= f.text_field(:quiz_question) %>
  <%= label_tag(:correct_answer, "Answer") %>
  <%= f.text_field(:correct_answer) %>
  <%= submit_tag("Add Command") %>
<% end %>

<% @quizzes.each do |question|  %>
  <%= question.quiz_question %>
<% end %>

<!-- .quiz_question is the column name -->

<!-- Quiz references the Model class of Quiz -->
<!-- .all returns an array -->
<!-- question returns a single quiz question from that array -->

<%# @quizzes = Quiz.all %>
<%# @quizzes.each do |question| %>
 <td><%# question.quiz_question %></td>
   <%# if @quizzes.size == 0 %>
   <!-- <em>No Commands Found</em> -->
   <%# end %>
 <%# end %>


